node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
android/app/build/
android/.gradle/
android/build/
android/local.properties
ios/Pods/
ios/build/
*.hprof
.DS_Store
*.pem
.env
.env.*
!.env.example
coverage/
.jest/
*.log
.idea/
.vscode/
*.swp
*.swo
.cxx/
*.apk
*.aab
*.ipa
detox/artifacts/
e2e/artifacts/
.turbo/

